<div>
<mat-card style="float: left;
width: 500px;
margin-right: 15px;
clear: both;
margin-top: 15px;">
    <div  style="float: left;">
        <form [formGroup]="AdvertiseForm" style="width: 500px;">
            <div style="display: inline-block;">
                <div style="width: 200px; float:left;"><label>First Name </label><sup>*</sup></div>
                <input formControlName="FirstName" type="text" style="width:290px; float: left;">
            </div>
            <div *ngIf="AdvertiseForm.controls.FirstName.invalid && (AdvertiseForm.controls.FirstName.dirty || AdvertiseForm.controls.FirstName.touched)">
                <mat-error *ngIf="this.AdvertiseForm.controls.FirstName.errors.required">
                    First Name is mandatory
                </mat-error>
                <mat-error *ngIf="this.AdvertiseForm.controls.FirstName.errors.pattern">
                    Please enter valid First Name
                </mat-error>
            </div>
            <div style="display: inline-block;">
                <div style="width: 200px; float:left;">  <label>Last Name </label><sup>*</sup></div>
                <input formControlName="LastName" type="text"  style="width:290px; float: left;">
            </div>
            <div *ngIf="AdvertiseForm.controls.LastName.invalid && (AdvertiseForm.controls.LastName.dirty || AdvertiseForm.controls.LastName.touched)">
                <mat-error *ngIf="this.AdvertiseForm.controls.LastName.errors.required">
                    Last Name is mandatory
                </mat-error>
                <mat-error *ngIf="this.AdvertiseForm.controls.LastName.errors.pattern">
                    Please enter valid Last Name
                </mat-error>
            </div>
            <div style="display: inline-block;">
                <div style="width: 200px; float:left;"><label>Email </label><sup>*</sup></div>
                <input formControlName="Email" type="text"  style="width:290px; float: left;">
            </div>
            <div *ngIf="AdvertiseForm.controls.Email.invalid && (AdvertiseForm.controls.Email.dirty || AdvertiseForm.controls.Email.touched)">
                <mat-error *ngIf="this.AdvertiseForm.controls.Email.errors.required">
                    Email is mandatory
                </mat-error>
                <mat-error *ngIf="this.AdvertiseForm.controls.Email.errors.pattern">
                    Please enter valid Email
                </mat-error>
            </div>
            <div style="display: inline-block;">
                <div style="width: 200px; float:left;"><label>Monthly Advertising Budget </label><sup>*</sup></div>
                <input formControlName="MonthlyAdvertisingBudget" type="text" style="width:290px; float: left;" >
            </div>
            <div *ngIf="AdvertiseForm.controls.MonthlyAdvertisingBudget.invalid && (AdvertiseForm.controls.MonthlyAdvertisingBudget.dirty || AdvertiseForm.controls.MonthlyAdvertisingBudget.touched)">
                <mat-error *ngIf="this.AdvertiseForm.controls.MonthlyAdvertisingBudget.errors.required">
                    Monthly Advertising Budget is mandatory
                </mat-error>
                <mat-error *ngIf="this.AdvertiseForm.controls.MonthlyAdvertisingBudget.errors.pattern || this.AdvertiseForm.controls.MonthlyAdvertisingBudget.value<=0">
                    Please enter valid Monthly Advertising Budget
                </mat-error>
            </div>
            <div>
                <div style="width: 200px; float:left;"><label>Phone Number </label><sup>*</sup></div>
                <input formControlName="Phonenumber" type="text"  style="width:290px; float: left;">
            </div>
            <div *ngIf="AdvertiseForm.controls.Phonenumber.invalid && (AdvertiseForm.controls.Phonenumber.dirty || AdvertiseForm.controls.Phonenumber.touched)">
                <mat-error *ngIf="this.AdvertiseForm.controls.Phonenumber.errors.required">
                    Phone number is mandatory
                </mat-error>
                <mat-error *ngIf="this.AdvertiseForm.controls.Phonenumber.errors.pattern">
                    Please enter valid Phone number
                </mat-error>
            </div>
            <div style="display: inline-block; margin-top: 15px;;">
                <div style="width: 200px; float:left;">&nbsp;</div>
                <button mat-raised-button style="background-color: burlywood;align-content: center;" (click)="OnPaymentClick()">Procees Payment</button>
            </div>
        </form>
    </div>
</mat-card>
</div>